@import '../../../../../../../theme/theme.less';

.detail {
  width: @business-width;
  padding: 8px 15px;
  height: 400px;
  div {
    display: block;
  }
}
.detailHeader{
  height: auto;
  text-align: center;
  span {
    padding-right: 10px;
    float: right;
    &:hover{
      cursor: pointer;
      color :@primary-color;
    }
  }
}



