.gisTool_switchBaseMap {
  display: inline-flex;
  z-index: 1000;
  background-color: #fff;
  border-radius: 1px;
  box-shadow:2px 2px 5px #333333;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
}