
@import '../../../../theme/theme.less';

.visibleTreeContainer {
  display: inline-block;
  box-shadow: @box-shadow-base;
}
.unVisibleTreeContainer{
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: @front-color;
  box-shadow: @box-shadow-base;
}