@import '../../../../theme/theme.less';
._gisBaseTool{
  margin: 8px;
  transition: all @transition-duration;
  background-color: white;
  &:hover{
    background-color: #333;
    cursor: pointer;
  }
}